

.banner{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../../public/Group\ 707.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* background-size: cover; */
    overflow: hidden;
    background-size: 100% 100%;
    color: #fff;
    height: 75vh;
}
.jumbotron {
    margin-bottom: 0 !important;
}

@media (min-width: 641px) {
    .banner{
        background-size: 100% 100%;
    }
}



/* -----------------------Hero Center Div -------------------------------- */

/* .hero-content-div styles */
.herocontentdiv{
    width: 100%;
    font-size:xx-large ;
    position: relative;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    transform: translateY(-50%);
    text-align: center !important;
}
.herocontentdivh2{
    text-shadow: 0px 3px 15px #00000040;
    font-weight: 700;

}
.CustomHerotext{
    font-size:xxx-large ;
    /* font-family: ; */
    font: normal normal medium 110px/121px Raleway;
    color: #A9D046;
    text-shadow: 0px 10px 20px #00000026;
    opacity: 1;
    text-align: center;
    font-weight: 500;
}

/*---------------------------Get started Button --------------------------*/

#btnn {
    background: #A9D046;
    color: #163828;
    border-radius: 8px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    font-weight: bold;
    font-size: medium;
    transition: .3s ease-in-out !important;
    border: 1px solid #A9D046 ;
    box-shadow: 0px 15px 15px #AACE5066;
    margin-top: 15px;
}
#btnn:hover,
#btnn:focus,
#btnn:active{
    border: 1px solid #97bd36 ;
    background:#97bd36 ;
    transition: .3s ease-in-out !important;
}


/* -----------------------buttom section Styles-------------------------------- */

.Row{
    margin: auto;
}

.bottom{
    padding: 0.5rem 0 0.5rem 0rem;
    background: #00A85A;
}
.bottomcol{
    border-right: 2px solid #A9D046 ;
    color: #ffffff;
}
.bottomcollast{
    /* border-right: 2px solid #A9D046 ; */
    color: #ffffff;
}

.bottomspan {
    font-size: 13px;
    font-weight: bold;
}
.text1{
    margin-right: 10px;
    text-align: center;
    
}
.bottomtext2{
    text-align: center;
}
.bottomtext3{
    text-align: center;
    margin-left: 10px;
}

.bottomP{
    font-size: small;
}
.Herotext{
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .text1{

        text-align: center;  
    }

}

 /* 320px to 575px styles  */

@media (min-width: 200px) and (max-width: 575px) {
    .bottomspan {
        font-size:  0.8rem;
        font-weight: bold;
    }

    .bottomtext3{
        text-align: center;
    }
    .bottomspan3{
        font-size: 13px !important;
        font-weight: 700;
    }
    .Herotext,.Herotext2{
        font-size: max(6vw,7vw);
    }
    .CustomHerotext{
        font-size: 10vw;
    }
    .text1{
        margin-right: 0 !important;
        text-align: center;
        
    }
    .bottomspan{
        font-size: 3vw;
    }
    .bottomspan3{
        font-size: 2.7vw !important;
    }
    .bottomP{
        font-size: 10px;
    }
    .bottomtext3{
        text-align: center;
        margin-left: 0 !important;
    }

    /* .text1,.bottomtext2,.bottomtext3{
        white-space: nowrap;
    } */
}



@media (min-width: 767px) {
    .bottomspan3{
        font-size: 13px !important;
    }

}

@media (min-width: 567px) and (max-width:767px) {
    .bottomP{
        font-size: 11px;
    }
    .bottomspan3{
        font-size: 12px !important;
    }
    .Herotext,.Herotext2{
        font-size: 6vw;
    }

}





/* unusual tweeks */
@media (min-width: 567px) and (max-width:706px) {
    /* .bottomP{
        font-size: 11px;
    } */
    .bottomspan3{
        font-size: 12px !important;
        font-weight: 800;
    }
}


@media (min-width: 1200px) {

    .Herotext,.Herotext2{
        font-size: xxx-large;
    }
    .CustomHerotext{
        font-size: xxx-large;
    }


}
