.offers{
    font-family: 'Raleway' sans-serif;
    
}
.title{
  width: fit-content;
  margin: 0 auto;
  border-bottom: 5px solid #00A85A;
}

 .businessheader{
   width: fit-content;
   margin: 0 auto;
   border-bottom: 5px solid #A9D046;
   padding-bottom: 10px;
 }


.hr{
  width: 15%;
  height: 10px;
  background-color: #00A85A;
  margin: 0 auto;
}


@media (min-width: 320px) and (max-width:567px) { }







@media (min-width: 320px) and (max-width:567px) {

  .containerst {
    
  }
  .businessheader{
    font-weight: bold;

  }
  .content_title h3{
    font-size: large;
    font-weight: bold;
  }
  .content_title p {
    font-size: small;
  }


}

@media (min-width: 300px) and (max-width:567px) {
  /* .containerst {
    margin: 0 auto !important;
    max-width: 90% !important ;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;
  } */

  .businessheader{
    font-weight: bold;

  }
  .content_title h3{
    font-size: large;
    font-weight: bold;
  }
  .content_title p {
    font-size: 12px;
    margin-bottom: 5px; 
  }
  .colsdiv div.grid{
    margin-bottom: 0;
  }  
  .btn{
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .wrapper{
    position: relative;

    width: 100%;
    height: 600px; /* asteriked */
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .group938{
    position: absolute !important;
    width: 80% !important;
    left: 25%;
    top: 5%;
  }
  .group937{
    top: 390px;
    width: 95%;
    left: 5%;
    z-index: 3;
  }
  .group928{
    width: 70%;
    top: 25%;
  }
  .customerpng{
    width: 50%;
    top: 550px;
    left: 40%
  }
  .messages{
    width: 40%;
    top: 545px;
    left: 5%;

  }
  .layer_x{
    width: 40%;
    left: 60%;
    top: 500px;

  }


}



@media (min-width: 567px) and (max-width:767px) {
  /* .containerst {
    margin: 0 auto !important;
    max-width: 90% !important ;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;
  } */

  .businessheader{
    font-weight: bold;

  }
  .content_title h3{
    font-size: large;
    font-weight: bold;
  }
  .content_title p {
    font-size: 12px;
    margin-bottom: 5px; 
  }
  .colsdiv div.grid{
    margin-bottom: 0;
  }  
  .btn{
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .wrapper{
    position: relative;

    width: 100%;
    height: 100%;
    top: 7%;
  }
  .group938{
    position: absolute !important;
    width: 70% !important;
    left: 25%;
    top: 5%;
  }
  .group937{
    top: 35%;
    width: 95%;
    left: 5%;
    z-index: 3;
  }
  .group928{
    width: 70%;
    top: 17%;
  }
  .customerpng{
    width: 50%;
    top: 55%;
    left: 40%
  }
  .messages{
    width: 40%;
    top: 52%;
    left: 5%

  }
  .layer_x{
    width: 40%;
    left: 60%;
    top: 48%;

  }


}

@media (min-width: 767px) and (max-width:991px) {
  .content_title p {
    font-size: small;
    margin-bottom: 5px;
  }
  .content_title h3{
    font-size: larger;
    font-weight: bold;
  }
  .title_desp{
    font-size: x-large;
  }
  .btn{
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 7%;
  }
  .group938{
    position: absolute !important;
    width: 60% !important;
    left: 30%;
  }
  .group928{
    position: absolute;
    width: 65%;
    top: 15%;
  }
  .group937 {
    position: absolute;
    width: 90%;
    top: 38%;
    left: 10%;
    z-index: 3;
  }
  .messages{
    width: 30%;
    top: 60%;
    left: 5%;
    z-index: 5;
  }
  .customerpng{
    width: 45%;
    top: 63%;
    left: 35%;
  }
  .layer_x{
    position: absolute;
    width: 45%;
    top: 55%;
    left: 60%;
  }

}

@media (min-width: 991px) and (max-width:1400px) {
  .content_title p {
    font-size: small;
  }
  .content_title h3{
    font-size: larger;
    font-weight: bold;
  }
  .title_desp{
    font-size: x-large;
  }
  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  .group938{
    position: absolute !important;
    width: 50% !important;
    left: 40%;
  }
  .messages{
    position: absolute;
    width: 30%;
    top: 78%;
    left: 5%;
    z-index: 5;
  }
  .group928{
    position: absolute;
    width: 65%;
    top: 18%;
  }
  .group937 {
    position: absolute;
    width: 90%;
    top: 47%;
    left: 10%;
    z-index: 3;
  }
  .layer_x{
    position: absolute;
    width: 45%;
    height: 28%;
    top: 70%;
    left: 60%;
  }
  .customerpng{
    width: 35%;
    top: 82%;
    left: 40%;
  }

}

