
.Header {
    padding: 5px 20px;
}
.img{
    min-width: 100% !important;
    padding-left: 10px !important;
}
.navlink:hover{
    color: #00A85A !important;
}
.navlink:active,.navlink:focus{
    border-bottom: 3px solid #00A85A !important;
    color: #00A85A !important;
}
.active{
    width: 10px !important;
    height: 3px !important;
    color: #068a4c;
    background-color: red !important;
}


/* ---------------login and signup Button styles-------------------------  */
.login{
    
    border: 1px solid #00A85A;
    color: #648B7A;
    background-color: #FFFFFF !important;
    margin-right: 0.5rem;
    box-shadow: 0px 15px 15px #18A75D26;
    border-radius: 5px;
}
.login:hover{
    border: 1px solid #00A85A;
    background-color: #00A85A !important;
    color: #FFFFFF;
}
.login:focus{
    border: 1px solid #00A85A;
    background-color: #00A85A !important;
    outline: none !important;
    border: none;
}

.endnavdiv button:focus{
    border: none !important;
    outline: none !important;
}

.login:active{

    border: 1px solid #00A85A !important;
    background-color: #00A85A !important;
    outline: none !important;
    
}
.signup{
    background-color: #00A85A !important;
    border-radius: 5px !important;
    color: #EFF7F0;
    border: none;
    
    box-shadow: 0px 15px 15px #18A75D4D;
}
.signup:hover{
    border: 1px solid #068a4c;
    background-color: #068a4c !important;
    color: #FFFFFF;
}
.signup:active{
    border: 1px solid #068a4c !important;
    background-color: #068a4c !important;
    
}

.marginsides{
    margin: 0px 15px;
}



/* max width 567px and below   Mobile view  */
@media  (max-width: 576px) {
    .marginsides{
        margin: 5px 0px;
        border-bottom: 1px solid #e9e9e9
    }
    .login, .signup {
        width: 90px;
        font-size: small;
        border: none;
    }

    .flexend{
        padding-left: 20px;
    }
    .navlink{
        padding-left: 20px !important;
        color: #163828 !important;
    }
    .endnavdiv {
        flex-direction: row;
        padding-left: 20px;
    }
    .endnavdiv button {
        margin-right: 20px;
    }
    .Header {
        /* display: block; */
        padding: 1px 20px;
    }
    .img{
        min-width: 80% !important;
        padding-left: 0px !important;
        margin: 0 !important;
    }
    .brandd{
        width: 50% !important;
    }

}

/* Style 576px to 768px  large mobile view  */
@media (min-width: 576px) and (max-width:800px) {
    /* .Header{
        max-height: 90% !important ;
    } */
    .marginsides{
        margin: 0px 5px;
    }
    .login, .signup {
        width: 62px;
        font-size: x-small;
        padding: 5px 10px;
    }
    .signup{
        width: 60px;
    }

    .innernavdiv{
        font-size: x-small; 
        font-weight: bolder; 
    }
    .Header {
        /* display: block; */
        padding: 5px 20px;
    }
    .Header Navbar {
        padding-left: 20px;
        
    }
    .img{
        min-width: 80% !important;
        padding-left: 0px !important;
        margin: 0 !important;
       
    }
    .navadjust{
        white-space: nowrap;
    }
    .brandd{
        padding: 0;
    }
}




/* Max width 991px  from 767px to 991px  Tablet View  */

@media (min-width: 767px) and (max-width:990px) {
    .marginsides{
        margin: 0px 5px;
        font-size: small;

    }
    .buttonresize{
        font-size: x-small;
        font-weight: bolder;
        width: 70px;
        margin: 0px 12px;
    }
    .Header {
        padding: 5px 20px;
    }
    .Navbar {
        padding-left: 20px !important;
    }
    .img{
        min-width: 80% !important;
        padding-left: 0px !important;
        margin: 0 !important;
    }
    .navadjust{
        white-space: nowrap;
    }
    

} 

@media (min-width: 991px) {
    .marginsides{
        margin: 0px 10px;
        font-size: medium;

    }
    .buttonresize{
        font-size: medium;
        width: 85px;
        margin: 0px 15px;
    }
    .login, .signup {
        width: 59px;
        font-size: x-small;
        font-weight: bold;
        padding: 5px 10px;
    }
    .signup{
        width: 60px;
    }
    .Header {
        /* display: block; */
        padding: 5px 20px;
    }
    .Header .Navbar {
        padding: 0px;
    }
}

@media (min-width: 576px) {
    .flexend{
        justify-content: flex-end;
        font-weight: bold;
    }

}


@media (min-width: 1200px) {
    .marginsides{
        margin: 0px 15px;
        font-size: medium;
    }
    .buttonresize{
        font-size: small;
        width: 85px;
        margin: 0px 15px;
    }
    .innernavdiv{
        margin-right: 20px;
    }
    .img{
        min-width: 100% !important;
        padding-left: 10px !important;
        margin: 0 !important;
    }
    

}