.img {
  background-image: url("../public/Pricibg_page_hero\ image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.container {
  height: 100%;
  margin-bottom: 60vh !important;
}
.input_div {
  box-shadow: 0px 25px 30px #18a75d26;
  border: 1px solid #00a85a;
  top: 90%;
  background: white;
}
.input:hover,
.input:active,
.input:focus {
  outline: none !important;
  border: none !important;
}
.cont_div {
  box-shadow: 0px 5px 30px #17382826;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.open_text {
  font-size: 12px !important;
}

@media (min-width: 320px) and (max-width: 567px) {
  .cont_div {
    border-radius: 15px;
  }
  .container {
    height: 100%;
    margin-bottom: 40vh;
  }
}
