/* @import url('https://fonts.google.com/share?selection.family=Raleway:wght@500;600;700');

@font-face {
  font-family: 'Raleway';
  src: url('/public/Raleway-SemiBold.ttf');
} */

html,
body {
  padding: 0;
  margin: 0;
font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



